.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(12, 219, 53);
  background-color: #000000;
  text-decoration: none;
  padding: 1rem;
}
.container ul li {
  list-style: none;
}
