.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(22, 22, 22);
  background-color: #f2eaea;
  text-decoration: none;
  padding: 1rem;
}
.container ul li {
  list-style: none;
}

.box{
  height: 10px;
  display: block;
  background-color: red;
}
.message-error{
background-color: red;
color: white;
opacity: 0;
transition: all ease 400ms;
}
.message-error.show
{
opacity: 1;
}
